<h1>About Author</h1>
<h2>Contact</h2>
<body link="brown" alink="yellow" vlink="orange">
<table align="center" width="400px" border="0" bgcolor="#2F4F4F">
	<tr> 
		<td>
			<div id="foto">
		<%= image_tag("about.jpg")  %>
		<palign="justify">Меня зовут <i>Дмитрий</i>. Я студент УГК им. И.И. Ползунова, факультет: информационных технологий, специальность: прикладная информатика (по отраслям)<br>
		Увлекаюсь web-программированием, самостоятельно изучал html и css, сейчас в свободное время изучаю Ruby on Rails (RoR)</p>
	</div>
</td>





	</tr>
</table>
	<a href="http://vk.com/hoaaast" class="button19">My pages in vk.com</a><br><br>
	<a href="https://github.com/Isupovd" class="button19">My pages in github.com</a><br><br>
	skype: <u>Isupov.d</u><br>
	Тел: <u>+7-900-204-00-97</u>