<h1 align="center">Лабораторные работы</h1>
<body link="brown" alink="yellow" vlink="orange">
<H3>Выбирете лабораторную работу:</H3>
<a href="/laboratory_work/lab1">Лабораторная работа №1</a> (Установка системы VMware Workstation)<br>
</body>

